{% extends 'dash.html' %}
{% block content %}

<table class=" table table-striped">
  <thead>
    <tr>
      <th scope="col"> sl no. </th>
      <th scope="col"> Ride name </th>
      <th scope="col"> price </th>
      <th scope="col"> timings </th>
      <th scope="col"> category </th>
      <th scope="col"> Delete </th>
      <th scope="col"> update </th>

    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.ride_name}}</td>
      <td>{{i.price}}</td>
      <td>{{i.timings}}</td>
      <td>{{i.category}}</td>
      <td>
        <form action="{% url 'delete' i.id %}" method="POST" >
          {% csrf_token %}
          <button type="submit"> Delete </button>
        </form>
      </td>
      <td>
        <a href = "{% url 'update' i.id %}" class="btn btn-danger">Update</a>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>


{% endblock %}